.mainBody {
  height: 100vh;
  display: grid;
  grid-template-columns: 2.2fr 9.8fr;
  position: relative;
}
.toggleMainBody {
  grid-template-columns: 1fr;
}
.sideMenuToggler {
  display: none;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1100px) {
  .mainBody {
    grid-template-columns: 2.6fr 9.4fr;
  }
}

@media screen and (max-width: 850px) {
  .mainBody {
    grid-template-columns: 1fr;
  }
  .sideBar {
    position: absolute;
    top: 0;
    right: -300px;
    z-index: 9999;
    background-color: aliceblue;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  .sideBarOpen {
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  .sideMenuToggler {
    display: block;
    transition: all 0.5s ease-in-out;
  }
}
