.ant-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none !important;

}
.ant-input:focus {
  box-shadow: none;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.title {
  background: rgb(84, 67, 73);
  color: aliceblue;
  margin-bottom: 40px;
  text-align: center;
  padding: 5px 10px;
}

.response {
  position: absolute;
  bottom: 100px;
  width: 100%;
}
.input-area {
  width: 80%;
  border-radius: 50px;
  padding: 0 20px;
}
.inputBtnSection button,
.inputBtnSection span {
  font-size: 22px;
  padding: 0;
  border: none;
  background: transparent;
  margin-right: 5px;
}
