.ant-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none !important;
}
.ant-input:focus {
  box-shadow: none;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.title {
  background: rgb(84, 67, 73);
  color: aliceblue;
  margin-bottom: 40px;
  text-align: center;
  padding: 5px 10px;
}

.response {
  position: absolute;
  bottom: 100px;
  width: 100%;
}
.input-area {
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputBtnSection {
  display: flex;
}
.inputBtnSection button,
.inputBtnSection span {
  font-size: 22px;
  padding: 0;
  border: none;
  background: transparent;
  margin-right: 5px;
}

.hot-questions {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10px;
}
.hot-questions div {
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
}
.hot-questions div:last-child {
  margin-right: 0;
}
.exploreDev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.inputContainer {
  width: 80%;
}
.logo {
  font-size: 22px;
  font-weight: 600;
}
.exploreBtn {
  font-size: 18px;
}
.footer {
  font-size: 12px;
  margin: 8px 0 5px;
  text-align: center;
}
@media screen and (max-width: 4000px) {
  .hot-questions div {
    font-size: 35px;
  }
  .logo {
    font-size: 50px;
  }
  .ant-input:placeholder-shown,
  .exploreBtn {
    font-size: 40px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 50px;
  }
  .footer {
    font-size: 22px;
  }
}
@media screen and (max-width: 3200px) {
  .hot-questions div {
    font-size: 30px;
  }
  .logo {
    font-size: 40px;
  }
  .ant-input:placeholder-shown,
  .exploreBtn {
    font-size: 35px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 45px;
  }
  .footer {
    font-size: 20px;
  }
}
@media screen and (max-width: 2560px) {
  .hot-questions div {
    font-size: 25px;
  }
  .logo {
    font-size: 35px;
  }
  .ant-input:placeholder-shown,
  .exploreBtn {
    font-size: 30px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 35px;
  }
  .footer {
    font-size: 18px;
  }
}
@media screen and (max-width: 2048px) {
  .hot-questions div {
    font-size: 22px;
  }
  .logo {
    font-size: 30px;
  }
  .ant-input:placeholder-shown,
  .exploreBtn {
    font-size: 25px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 30px;
  }
  .footer {
    font-size: 16px;
  }
}
@media screen and (max-width: 1921px) {
  .hot-questions div {
    font-size: 18px;
  }
  .logo {
    font-size: 28px;
  }
  .ant-input:placeholder-shown,
  .exploreBtn {
    font-size: 22px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 25px;
  }
  .footer {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  .hot-questions div {
    font-size: 14px;
  }
  .logo {
    font-size: 25px;
  }
  .exploreBtn {
    font-size: 18px;
  }
  .ant-input:placeholder-shown {
    font-size: 16px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 22px;
  }
  .footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .hot-questions {
    width: 90%;
  }
  .inputContainer {
    width: 100%;
  }
  .hot-questions div {
    margin-right: 5px;
    padding: 5px;
    font-size: 12px;
  }
  .footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .hot-questions div {
    font-size: 10px;
  }
  .input-area {
    padding: 0 10px;
  }
  .inputBtnSection button,
  .inputBtnSection span {
    font-size: 20px;
  }
  .ant-input:placeholder-shown {
    font-size: 14px;
  }
  .footer {
    font-size: 9px;
  }
}
@media screen and (max-width: 350px) {
  .ant-input:placeholder-shown {
    font-size: 12px;
  }
  .footer {
    font-size: 8px;
  }
}
